data/English.ttl filter=lfs diff=lfs merge=lfs -text
data/Events_and_structure.ttl filter=lfs diff=lfs merge=lfs -text
data/eurovoc_skos.rdf filter=lfs diff=lfs merge=lfs -text
data/spokenAs.ttl filter=lfs diff=lfs merge=lfs -text
data/textsave_prov.ttl filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/Dutch.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/eurovoc_skos.rdf.gz filter=lfs diff=lfs merge=lfs -text
data/MembersOfParliament_background_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/MEPs_in_ItalianParliament_ParliamentaryGroup.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Bulgarian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Danish.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/hoyland_prov.ttl filter=lfs diff=lfs merge=lfs -text
data/Hungarian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/MEPs_in_ItalianParliament_Person.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Slovenian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/annot_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Countries_in_Geonames.ttl filter=lfs diff=lfs merge=lfs -text
data/Events_and_structure.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/French.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/mep_wikidata.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Polish.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Slovak.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/topics filter=lfs diff=lfs merge=lfs -text
data/dbpedia_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/English.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/wikidata_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Portuguese.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/prov_portal_copy.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/spokenAs.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/text_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/void.ttl filter=lfs diff=lfs merge=lfs -text
data/German.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/MEPs_in_DBpedia.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Lithuanian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Czech.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/empty.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Romanian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Greek.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Linkedpolitics.cmdi filter=lfs diff=lfs merge=lfs -text
data/Swedish.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/xmlrdf_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/copy_settings_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Croatian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Finnish.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Italian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Latvian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Maltese.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/MembersOfParliament_background.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Spanish.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/combine_graphs_prov.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/Estonian.ttl.gz filter=lfs diff=lfs merge=lfs -text
data/vocabulary.ttl filter=lfs diff=lfs merge=lfs -text
